/* src/components/Login.css */
/* Add any specific styles for the Login component here */
.lightblue-text {
    color: lightblue;
  }
  
  .large-bold-text {
    font-size: 1.2em;
    font-weight: bold;
  }
  
  .label-email {
    margin-top: 20px;
  }
  
  .large-input {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  